html {
    display: flex;
    flex-basis: auto;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: ghostwhite;
    background-color: black;
}

.top {
    text-align: center;
    padding-bottom: 5%;
}

.gifs-area {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 85vw;
}

.more {
    display: flex;
    align-items: center;
    justify-content: center;
}

#loadBtn {
    display: none;
}